<h4 class="display=5">Yemek Sipariş Detayı</h4>
<hr>
<form #form="ngForm" autocomplete="off">
    <div class="form-group">
        <label>Yemek Seçimi</label>
        <select name="ItemID" #ItemId="ngModel" [(ngModel)]="formData.ItemId" class="form-control">
            <option value="0">--Seçiniz</option>
        </select>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Fiyat</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">TL</div>
                </div>
                <input name="Price" #GrandTotal="ngModel" [(ngModel)]="formData.Price" class="form-control" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Miktar</label>
            <input name="Quantity" #Quantity="ngModel" [(ngModel)]="formData.Quantity"  class="form-control" />
        </div>
        <div class="form-group col-md-12">
            <label>Toplam Fiyat</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">TL</div>
                </div>
                <input name="Total" #Total="ngModel" [(ngModel)]="formData.Total" class="form-control" readonly/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i>Submit</button>
        <button type="submit" class="btn btn-outline-dar ml-1"><i class="fa fa-close"></i>Close</button>
    </div>
</form>